//PEN HEADER
header.header
  h1.header__title Password Strength Validator
  .header__btns.btns
    a.header__btn.btn(href="https://github.com/nat-davydova/password-strength" title="Check on Github" target="_blank") Check on Github
    
//PEN CONTENT     
.content
  
  //content inner
  .content__inner
    
    .container
    
      .row
      
        .col-lg-6.m-auto
          
          form.password-strength.form.p-4
          
            h3.form__title.text-center.mb-4 Enter the Password
            
            .form-group
            
              label(for="password-input") Password
              
              .input-group
                input.password-strength__input.form-control(type="password" id="password-input" aria-describedby="passwordHelp" placeholder="Enter password")
                .input-group-append
                  button.password-strength__visibility.btn.btn-outline-secondary(type="button")
                    span.password-strength__visibility-icon(data-visible='hidden')
                      i.fas.fa-eye-slash
                    span.password-strength__visibility-icon(data-visible='visible').js-hidden
                      i.fas.fa-eye
                    
              small#passwordHelp.form-text.text-muted.mt-2 Add 9 charachters or more, lowercase letters, uppercase letters, numbers and symbols to make the password really strong!
              
            .password-strength__bar-block.progress.mb-4
              .password-strength__bar.progress-bar.bg-danger(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
            
            button.password-strength__submit.btn.btn-success.d-flex.m-auto(type="button" disabled) Submit
            
              