//PEN HEADER
header.header
  h1.header__title Password Strength Validator
  .header__btns.btns
    a.header__btn.btn(href="https://github.com/nat-davydova/password-strength" title="Check on Github" target="_blank") Check on Github
    
//PEN CONTENT     
.content
  
  //content inner
  .content__inner
    
    .container
    
      .row
      
        .col-lg-8.m-auto
          
          form.password-strength.form
          
            h3.form__title.text-center Enter the Password
            
            .form-group
              label(for="password-input") Password
              input.password-strength__input.form-control(type="password" id="password-input" aria-describedby="passwordHelp" placeholder="Enter password")
              small#passwordHelp.form-text.text-muted Add lowercase letters, uppercase letters, numbers and symbols to make the password really strong!
              
            .progress
              .progress-bar.progress-bar-striped.progress-bar-animated.bg-danger(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
            
            button.btn.btn-success(type="submit" disabled) Submit
            
              